<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="farmer.farmer">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        tools:node="replace"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Welcome_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Intro_Slider" />

        <activity
            android:name=".Sign_Up"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Log_In"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".User_List_Activity" />
        <activity android:name=".Profile_Activity" />
        <activity android:name=".Welcome_Activity_After_Log_In" />
        <activity
            android:name=".Weather"
            android:label="Weather" />
        <activity android:name=".Farmer_Posts" />
        <activity android:name=".Action_Feedback" />
        <activity android:name=".popup" />

        <!-- Amit Project Activity -->
        <activity android:name=".NewsActivity" />
        <activity android:name=".AskExpertActivity" />
        <activity android:name=".FertilizerActivity" />
        <activity android:name=".CucumberFertilizer" />
        <activity android:name=".LadyfingerFertilizer" />
        <activity android:name=".WheatFertilizer" />
        <activity android:name=".MaizeFertilizer" />
        <activity android:name=".PotatoFertilizer" />
        <activity android:name=".RiceFertilizer" />
        <activity android:name=".TomatoFertilizer" />

        <!-- Mohit Project Activity -->
        <activity android:name=".UpdateCrop" />
        <activity android:name=".AddCrop" />
        <activity
            android:name=".MyCrops"
            android:label="My Crop" />

        <!-- Avni Project Activity -->
        <activity android:name=".MarketPrice" />
        <activity android:name=".MandiImage" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4ba983677b87165a76380af22a0832e368cf0665" />
    </application>

</manifest>